.about{
    padding: 30px 0;
    position: relative;

    .sectionBgTriangle{
        position: absolute;
        left: 0;
        top: 60%;
        background: $gradientTriangle;
        width: 100%;
        height: 350px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
    }
    .aboutRombs{
        .aboutLittleRombs{
            position: relative;
            .aboutLittleRombs_item{
                img{
                    width: 250px; 
                    height: 250px; 
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                }
            }
            .rombItem2{
                position: absolute;
                left: 16px;
                top: 127px;
                width: 250px; 
                height: 250px; 
                background: $gradient;
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            }
            .rombItem3{
                position: absolute;
                right: 16px;
                top: 127px;
            }
            .rombItem4{
                margin-top: 5px;
            }
        }
        .aboutBigRomb{

            img{
                width: 500px; 
                height: 500px; 
                margin-left: auto;
                margin-right: auto;
                display: block;
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);   
            }
        }
    }
    .aboutCompany{
        margin-top: 50px;
        height: 550px;
        position: relative;
        background-color: $grey;
        border-radius: 5px;
        box-shadow: 0 2px 5px 3px rgba(0, 0, 0, .4);

        .aboutCompany_top-quotes{
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .aboutCompany_text{
            padding: 45px 70px;
            font-size: 22px;
            font-style: italic;
            line-height: 30px;
        }
        .aboutCompany_bottom-quotes{
            position: absolute;
            bottom: 110px;
            right: 10px;
        }
        .aboutCompany_logo{
            position: absolute;
            left: 20px;
            bottom: 20px;
        }
        .aboutCompany_signature{
            position: absolute;
            left: 160px;
            bottom: 30px;
            font-size: 22px;
            font-weight: bold;
            font-style: italic;
            width: 160px;
        }
    }
}
@media (max-width: 1025px){
    .about{
        .aboutRombs{
            .aboutLittleRombs{
                .aboutLittleRombs_item{
                    img{
                        width: 200px; 
                        height: 200px; 
                    }
                }
                .rombItem2{
                    left: 21px;
                    top: 103px;
                    width: 200px; 
                    height: 200px; 
                }
                .rombItem3{
                    right: 21px;
                    top: 103px;
                }
            }
            .aboutBigRomb{
                img{
                    width: 400px; 
                    height: 400px;  
                }
            }
        }
        .aboutCompany{
            margin-top: 40px;
            height: 550px;
            .aboutCompany_top-quotes{
                img{
                    width: 40px;
                }
            }
            .aboutCompany_text{
                padding: 35px 60px;
                font-size: 18px;
            }
            .aboutCompany_bottom-quotes{
                bottom: 110px;
                img{
                    width: 40px;
                }
            }
            .aboutCompany_signature{
                bottom: 30px;
                font-size: 20px;
                width: 160px;
            }
        }
    }
}

@media (max-width: 860px){
    .about{
        .sectionBgTriangle{
            height: 280px;
        }
        .aboutRombs{
            .aboutLittleRombs{
                .aboutLittleRombs_item{
                    img{
                        width: 170px; 
                        height: 170px; 
                    }
                }
                .rombItem2{
                    left: -8px;
                    top: 88px;
                    width: 170px; 
                    height: 170px; 
                }
                .rombItem3{
                    right: -8px;
                    top: 88px;
                }
            }
            .aboutBigRomb{
    
                img{
                    width: 330px; 
                    height: 330px;  
                }
            }
        }
        .aboutCompany{
            margin-top: 30px;
            height: 470px;
            .aboutCompany_top-quotes{ 
                img{
                    width: 30px;
                }
            }
            .aboutCompany_text{
                padding: 30px 30px;
                font-size: 14px;
            }
            .aboutCompany_bottom-quotes{
                bottom: 110px;
                img{
                    width: 30px;
                }
            }
            .aboutCompany_logo{
                img{
                    width: 100px;
                }
            }
            .aboutCompany_signature{
                left: 130px;
                bottom: 20px;
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 601px){
    .about{
        .aboutRombs{
            .aboutLittleRombs{
                .rombItem2{
                    left: 81px;
                }
                .rombItem3{
                    right: 81px;
                }
            }  
        }
        .aboutCompany{
            height: 465px;
        }
    }
}
@media (max-width: 576px){
    .about{
        .sectionBgTriangle{
            top: 55%;
        }
        .aboutRombs{
            .aboutLittleRombs{    
                .rombItem2{
                    left: 3px;
                }
                .rombItem3{
                    right: 3px;
                }    
            }  
        }
        .aboutCompany{
            height: 465px;
        }
    }
}
@media (max-width: 361px){
    .about{
        .aboutRombs{
            .aboutLittleRombs{    
                .rombItem2{
                    left: -7px;
                }
                .rombItem3{
                    right: -7px;
                }
            }  
        }
        .aboutCompany{
            height: 465px; 
        }
    }
}
@media (max-width: 330px){
    .about{
        .aboutRombs{
            .aboutLittleRombs{
                .aboutLittleRombs_item{
                    img{
                        width: 140px; 
                        height: 140px; 
                    }
                }
                .rombItem2{
                    left: 2px;
                    top: 73px;
                    width: 140px; 
                    height: 140px; 
                }
                .rombItem3{
                    right: 2px;
                    top: 73px;
                }
            }
            .aboutBigRomb{
                img{
                    width: 280px; 
                    height: 280px;  
                }
            }
        }
        .aboutCompany{
            height: 465px;
            .aboutCompany_text{
                font-size: 14px;
                line-height: 25px;
            }
        }
    }
}