$white: #fff;
$black: #0A0A0A;
$grin: #09a765;
$darkGrin: #076A41;
$red: #d40000;
$grey: #E4E3E3;

$gradient: linear-gradient(180deg, #0BF895 27.23%, #076A41 77.52%);
$gradientRev: linear-gradient(180deg, #076A41 27.23%, #0BF895 77.52%);
$gradientRomb: linear-gradient(180deg, #076A41 27.23%, #0BF895 77.52%);
$gradientTriangle: linear-gradient(0deg, #076A41 27.23%, #0BF895 77.52%);